body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

.col-container {
    display: flex;
    width: min-content;
  }
.col {
    flex: 1;
}

.square {
    border: 1px solid black;
    min-width: 68px;
    height: 60px;
}

.brown {
    background-color: brown;
}

.white {
    background-color: wheat;
}

.pion {
    width: 35px;
    height: 35px;
}

img[src="none"] { 
    display: none; 
}